<h1>New Post</h1>
<%= form_with model: @posts do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "city" %>
    <%= form.text_field "city" %>
  </p>
  <p>
    <%= form.label "state" %>
    <%= form.text_field "state" %>
  </p>
  <%= form.submit %>
<% end %>

<p>
  <a href="/posts/new?places_id=<% @places.id %>">New Post</a>
</p>